{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-3 intro-portfolio bright">
            <div class="title"><p>Portfolio</p></div>
        </div>
        <div class="col-3 intro-shop bright">
            <div class="title"><p>Store</p></div>
        </div>
        <div class="col-3 intro-clients bright">
            <div class="title"><p>Clients</p></div>
        </div>
        <div class="col-3 intro-contact bright">
            <div class="title"><p>Get In Touch</p></div>
        </div>
    </div>
</div>

{% endblock %}