{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" type="text/css">
{% endblock %}

{% block extra_js %}
<script src="{% static 'home/js/script.js' %}"></script>
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-3 intro-portfolio bright">
            <a href="{% url 'portfolio' %}">
                <div class="title">
                    <p class="banner">Portfolio</p>
                </div>
            </a>
        </div>

        </a>
        <div class="col-3 intro-shop bright">
            <div class="title">
                <p class="banner">Store</p>
            </div>
        </div>
        <div class="col-3 intro-clients bright">
            <div class="title">
                <p class="banner">Clients</p>
            </div>
        </div>
        <div class="col-3 intro-contact bright">
            <div class="title">
                <p class="banner">Get In Touch</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}