{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'basket/css/basket.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Checkout</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
           <p>Please complete the form to checkout</p>
        </div>
        <div class="col-12">
            <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <p>Customer Details:</p>
                {{ order_form.first_name | as_crispy_field }}
                {{ order_form.last_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
                <p>Delivery Details:</p>
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.city_town | as_crispy_field }}
                {{ order_form.county_state | as_crispy_field }}
                {{ order_form.postcode_zip | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                
                
            </form>
        </div>
    </div>
</div>
{% endblock %}