{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'store/css/store.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>Shopping Basket</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% if basket_items %}
                <div class="basket-table">

                </div>
            {% else %}
                <h3>You're basket is empty</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}