{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/logo.html' %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'users/css/users.css' %}" type="text/css">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <h1>My Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {% for order in orders %}

            <div class="row">

           
            <div class="col-10">
                <a class="btn" data-toggle="collapse" href="#collapse{{order.order_number}}" role="button"
                    aria-expanded="false" aria-controls="collapseExample">
                    {{ order.order_number }} - {{ order.order_date }}

                </a>
            </div>
            <div class="col-2">
                <p>£{{ order.grand_total }}</p>
            </div>
        </div>
            <div class="collapse" id="collapse{{order.order_number}}">
                <div class="card card-body">
                    {% for item in order.lineitems.all %}
                    <img class="order-image" src="/media/{{ item.product.image }}">
                    <p>{{ item.product.name }}</p>
                    <p>£{{ item.product.price }}</p>
                    {% endfor %}
                </div>
            </div>


            {% endfor %}
        </div>
        {% endblock %}