{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% include 'includes/logo.html' %}
{% include 'includes/nav.html' %}
{% endblock %}

{% block content %}

<div class="container container-format">
    <div class="row information-format">
        <div class="col-12 align-self-center">
            <h1>Get in touch!</h1>
            <form>
                <div class="form-group">
                    <label for="formGroupExampleInput">Your Name:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput2">Project Name:</label>
                    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Email address:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="name@example.com">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">What do you want to discuss?</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
                </div>
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 information-format">
            <h2>Social Media</h2>
        </div>
        <div class="col- information-format">
            <a href="#" target="_blank" aria-label="Instagram"><i class="fab fa-instagram social-icons"></i></a>
            <a href="#" target="_blank" aria-label="Facebook"><i class="fab fa-facebook social-icons"></i></a>
            <a href="#" target="_blank" aria-label="Twitter"><i class="fab fa-twitter social-icons"></i></a>
        </div>
    </div>
</div>

{% endblock %}